#backcend
fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic==2.9.2
pydantic-settings==2.5.2
python-dotenv==1.0.1
# llm
google-genai==0.7.0
# embedding
sentence-transformers==3.1.1
torch==2.4.1
# vector db
chromadb==0.5.5
# frontend
streamlit==1.38.0
requests==2.32.3
# extra
tqdm==4.66.5
